<script src="vue.js" type="text/javascript" charset="utf-8" ></script>

<div id="app">
  {{ message }}
</div>

<div id="app-2">
  <span v-bind:title="message">
    鼠标悬停几秒钟查看此处动态绑定的提示信息！
  </span>
</div>

<div id="app-3">
  <p v-if="seen">现在你看到我了</p>
</div>

<div id="app-4">
  <ol>
    <li v-for="item in items">
      {{ item.text }}
    </li>
  </ol>
</div>

<div id="app-5">
  <p>{{ msg }}</p>
  <button v-on:click="reverseMessage">反转消息</button>
</div>

<div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
</div>

<div id="app-7">
  <ol>
    <!--
      现在我们为每个 todo-item 提供 todo 对象
      todo 对象是变量，即其内容可以是动态的。
      我们也需要为每个组件提供一个“key”，稍后再
      作详细解释。
    -->
    <todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id"
    ></todo-item>
  </ol>
</div>

<script>
  let app_1 = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!'
    }
  });

  let app_2 = new Vue({
    el: '#app-2',
    data: {
      message: 'hello,world!!hello,ngpong!'
    }
  });

  let app_3 = new Vue({
    el: '#app-3',
    data: {
      seen: true
    }
  });

  let app_4 = new Vue({
    el: '#app-4',
    data: {
      items: [ /* 只能使用 todos */
        { text: '学习 JavaScript' },
        { text: '学习 Vue' },
        { text: '整个牛项目' }
      ]
    }
  });

  let app_5 = new Vue({
    el: '#app-5',
    data: {
      msg: 'Hello Vue.js!'
    },
    methods: {
      reverseMessage: function () {
        this.msg = this.msg.split('').reverse().join('')
      }
    }
  });

  let app_6 = new Vue({
    el: '#app-6',
    data: {
      message: 'Hello Vue!'
    }
  });

  Vue.component('todo-item', {
    props: ['todo'],
    template: '<li>{{ todo.text }}</li>'
  });
  let app_7 = new Vue({
    el: '#app-7',
    data: {
      groceryList: [
        { id: 0, text: '蔬菜' },
        { id: 1, text: '奶酪' },
        { id: 2, text: '随便其它什么人吃的东西' }
      ]
    }
  });
  
</script>