<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script>
        window.onload = function () {

            var elementForm = document.getElementsByTagName("form")[0];
            var elementButton = document.getElementById("btn");

            elementButton.onclick = function () {

                elementForm.submit();
            }
        }
    </script>
</head>
<body>
    <form action="/Handlers/ShowInformation.ashx" method="get">
        用户名：<input type="text" name="userName"/><br />
        密码：<input type="text" name="userPwd"/><br />
        <input type="button" value="提交数据" id="btn"/>
    </form>
</body>
</html>
