        * {
            font-family: 'Microsoft YaHei';
            font-size: 12px;
        }

        div.indexdiv {
            height: 384px;
            width: 292px;
            background-color: #F8F8F8;
        }

        div.div1 {
            height: 35px;
            background-color: #248AD4;
            margin-left: 0px;
        }

        div.div2 {
            background-image: url('images1/6.png');
            background-repeat: no-repeat;
            height: 35px;
            padding-left: 40px;
            padding-top: 7px;
            color: white;
            font-size: 16px;
        }

        td.td4 {
            font-weight: bolder;
            font-size: 14px;
            color: #515151;
        }

        td.td5 {
            font-size: 13px;
            color: #3177B7;
            border-bottom: 1px dashed #CDCDCD;
        }

        td.td6 {
            font-weight: 900;
            color: #FF0101;
            text-align: right;
            border-bottom: 1px dashed #CDCDCD;
        }

        td.td7 {
            font-weight: 900;
            color: #0201FF;
            text-align: right;
            border-bottom: 1px dashed #CDCDCD;
        }

        table.tableschool {
            height: 326px;
            width: 292px;
            margin-top: 4px;
        }
