BODY {
	MARGIN: 0px; FONT-FAMILY: ו; FONT-SIZE: 12px
}
A:link {
	COLOR: #0042d1; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #0042d1; TEXT-DECORATION: none
}
.top {
	BORDER-BOTTOM: #cccccc 1px solid; LINE-HEIGHT: 22px; BACKGROUND-COLOR: #f2f2f2; HEIGHT: 22px
}
.top .m_c {
	MARGIN: auto; WIDTH: 750px
}
.top A:link {
	COLOR: #666666; TEXT-DECORATION: none
}
.top A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.top A:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
.top .h {
	PADDING-LEFT: 2px; COLOR: #999999; FONT-SIZE: 14px
}
.l {
	FLOAT: left
}
.r {
	FLOAT: right
}
#header {
	MARGIN: 10px auto auto; WIDTH: 750px
}
#header .sm {
	TEXT-ALIGN: left; MARGIN-BOTTOM: 10px; FONT-SIZE: 12px
}
#header .t {
	FONT-FAMILY: Georgia, "Times New Roman", Times, serif; COLOR: #0042d1; FONT-SIZE: 18px
}
#header .ss {
	TEXT-ALIGN: right; MARGIN-BOTTOM: 10px; FONT-SIZE: 14px
}
#header .ss A {
	TEXT-ALIGN: right; FONT-SIZE: 14px
}
#tip {
	BORDER-BOTTOM: #eeeeee 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #eeeeee 1px solid; PADDING-BOTTOM: 5px; MARGIN: 10px auto; PADDING-LEFT: 30px; WIDTH: 713px; PADDING-RIGHT: 5px; BACKGROUND: url(/images/tip1.gif) #ffffee no-repeat 5px center; BORDER-TOP: #eeeeee 1px solid; BORDER-RIGHT: #eeeeee 1px solid; PADDING-TOP: 5px
}
#search {
	PADDING-BOTTOM: 0px; MARGIN: auto auto 0px; WIDTH: 750px; BACKGROUND: url(/images/index_search.jpg) no-repeat left center; HEIGHT: 60px; PADDING-TOP: 8px
}
#search .findInto {
	BORDER-BOTTOM: #cdcdcd 1px solid; BORDER-LEFT: #cdcdcd 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-LEFT: 5px; WIDTH: 500px; PADDING-RIGHT: 0px; HEIGHT: 24px; COLOR: #aab7c7; FONT-SIZE: 14px; BORDER-TOP: #cdcdcd 1px solid; BORDER-RIGHT: #cdcdcd 1px solid; PADDING-TOP: 0px
}
#search A {
	COLOR: #ffffff
}
#hotkey {
	BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; MARGIN: auto auto 10px; WIDTH: 748px; BORDER-RIGHT: #dddddd 1px solid
}
#hotkey .k_t {
	BORDER-BOTTOM: #f2f2f2 1px solid; TEXT-ALIGN: left; PADDING-LEFT: 10px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#hotkey .k_t A {
	
}
#hotkey .k_c {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; LINE-HEIGHT: 150%; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
#main_box {
	MARGIN: auto; WIDTH: 750px
}
#main_box .m_l {
	WIDTH: 200px; FLOAT: left
}
#main_box .m_l H2 {
	BORDER-BOTTOM: #f2f2f2 1px dotted; TEXT-ALIGN: left; LINE-HEIGHT: 28px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 5px; HEIGHT: 28px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#main_box .m_l .cm UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 200px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#main_box .m_l .cm LI {
	TEXT-ALIGN: left; LINE-HEIGHT: 150%; LIST-STYLE-TYPE: none; MARGIN-TOP: 0px; PADDING-LEFT: 5px
}
#main_box .m_l .n UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 27px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#main_box .m_l .n LI {
	TEXT-ALIGN: left; LINE-HEIGHT: 150%; LIST-STYLE-TYPE: decimal; PADDING-LEFT: 0px
}
#main_box .m_l .gg TABLE {
	FONT-SIZE: 12px
}
#main_box .m_r {
	WIDTH: 530px; FLOAT: right
}
#main_box .m_r .b_c {
	MARGIN-BOTTOM: 10px
}
#main_box .m_r .b_c UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 530px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#main_box .m_r .b_c LI {
	LINE-HEIGHT: 150%; LIST-STYLE-TYPE: none; WIDTH: 65px; FLOAT: left; FONT-SIZE: 14px
}
#main_box .m_r .b_c .t {
	BORDER-BOTTOM: #f2f2f2 1px solid; TEXT-ALIGN: left; BACKGROUND-COLOR: #f8f8f8; MARGIN-BOTTOM: 5px
}
#main_box .m_r .b_c .t .l {
	PADDING-LEFT: 8px; WIDTH: 200px; HEIGHT: 22px; COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#main_box .m_r .b_c .t .r {
	TEXT-ALIGN: right; WIDTH: 200px; FLOAT: right; FONT-SIZE: 14px
}
#main_box .m_r .c_t {
	MARGIN-BOTTOM: 10px
}
#main_box .m_r .c_t .t {
	BORDER-BOTTOM: #f2f2f2 1px solid; TEXT-ALIGN: left; BACKGROUND-COLOR: #f8f8f8; MARGIN-BOTTOM: 5px
}
#main_box .m_r .c_t .t .l {
	HEIGHT: 22px; COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#main_box .m_r .c_t .t .r {
	TEXT-ALIGN: right; FLOAT: right; FONT-SIZE: 14px
}
#main_box .m_r .c_t UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 530px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#main_box .m_r .c_t LI {
	TEXT-ALIGN: left; LINE-HEIGHT: 150%; LIST-STYLE-TYPE: none; PADDING-LEFT: 8px; WIDTH: 250px; FLOAT: left; FONT-SIZE: 12px
}
#main_box .m_r .p {
	MARGIN-BOTTOM: 10px
}
#main_box .m_r .p .t {
	BORDER-BOTTOM: #f2f2f2 1px solid; TEXT-ALIGN: left; BACKGROUND-COLOR: #f8f8f8; MARGIN-BOTTOM: 5px
}
#main_box .m_r .p .t .l {
	HEIGHT: 22px; COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#main_box .m_r .p .t .r {
	TEXT-ALIGN: right; FLOAT: right; FONT-SIZE: 14px
}
#main_box .m_r .p UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 530px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#main_box .m_r .p LI {
	TEXT-ALIGN: left; LINE-HEIGHT: 150%; LIST-STYLE-TYPE: none; PADDING-LEFT: 8px; WIDTH: 160px; FLOAT: left; FONT-SIZE: 12px
}
.c_b {
	BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 200px; PADDING-RIGHT: 5px; MARGIN-BOTTOM: 10px; BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; PADDING-TOP: 5px
}
#ads {
	MARGIN: auto; WIDTH: 750px
}
#footer {
	MARGIN-TOP: 10px; BORDER-TOP: #cccccc 1px solid
}
#footer LI {
	LIST-STYLE-TYPE: none; MARGIN-BOTTOM: 10px
}
.activities {
	COLOR: #0042d1; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.activities A {
	COLOR: #0042d1; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.activities A:hover {
	COLOR: #ff6600; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.categories {
	COLOR: #eeeeee; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.categories A {
	COLOR: #eeeeee; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.categories A:hover {
	COLOR: #eeeeee; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.categories1 {
	COLOR: #0042d1; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.categories1 A {
	COLOR: #0042d1; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.categories1 A:hover {
	COLOR: #ff9900; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.categories2 {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.categories2 A {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
.categories2 A:hover {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.categories3 {
	COLOR: #ffffff; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.categories3 A {
	FONT-SIZE: 14px; TEXT-DECORATION: none
}
.categories3 A:hover {
	COLOR: #ffffff; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
