<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="connstr" connectionString="server=127.0.0.1;uid=sa;pwd=kissyou199;database=MyTestDB"/>
  </connectionStrings>
</configuration>