@charset "gb2312";
/* CSS Document */
/*----------------------------------reset style begin----------------------------------*/
html{overflow-y:scroll;height:101%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote{margin:0;padding:0;}
img{border:none;}
li{list-style:none outside none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
input,button,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,button,textarea,select{font:100% Tahoma,Helvetica,Arial,sans-serif;}
table {border-collapse: collapse; border-spacing:0;}
em{font-style:normal;}
/*----------------------------------reset style end----------------------------------*/

/*----------------------------------public style begin----------------------------------*/
body{
	margin:0 auto; font-size:12px;font-family:"宋体",Arial, Helvetica, sans-serif;background:#fff url(../images/bg_body.png) repeat-x left top; color:#333;
}
.body_column{
	background:#fff url(../images/bg_body_column.png) repeat-x left top;
}
p{
	line-height:180%;
}
#wrap_index{
	margin:0 auto;width:986px; height:100%;
}
.main_index{
	background:url(../images/bg_wrap_index.jpg) no-repeat; width:986px; height:491px; position:relative;
}
#header{
	position:relative; height:67px;
}
.logo_index{
	width:179px; height:55px; background:url(../images/logo.png) no-repeat; position:absolute; top:35px; left:48px;
}
.nav_index{
	height:68px; overflow:hidden;
}
.footer_index{
	height:60px; padding:10px 0 0 0;  border-top:1px solid #c2c0c1;
}
.footer_index div{
	margin:0 auto; width:986px; position:relative;
}
.footer_index div .copyright{
	width:355px; height:16px; position:absolute;  background:url(../images/img_copyright_index.png) no-repeat; left:15px;
}
.footer_index div .frdlink{
	position:absolute; right:15px; color:#868686;
}
.footer_index div .frdlink select{
	color:#868686;
}
.clear{
	clear:both; font-size:0; line-height:0; height:0; overflow:hidden;
}
.efont{
	font-family:Arial, Helvetica, sans-serif; font-size:12px;
}
h2{
	font-weight:bold;
}
.fr{
	float:right; margin:0 0 10px 12px;
}
.colorred{
	color:#c90a0a;
}
/*----------------------------------public style end----------------------------------*/

/*----------------------------------link style begin----------------------------------*/
a:link,a:visited,a:hover,a:active{
	color:#000; text-decoration:none;
}
.whitelink:link,.whitelink:visited,.whitelink:hover,.whitelink:active{
	color:#fff;
}
.whitelink:hover{
	text-decoration:underline;
}
.bluelink:link,.bluelink:visited,.bluelink:hover,.bluelink:active{
	color:#1560a1;
}
.bluelink:hover{
	color:#0292d3;
}
.graylink:link,.graylink:visited,.graylink:hover,.graylink:active{
	color:#666;
}
a:hover,.graylink:hover{
	color:#005d9e;
}
/*----------------------------------link style end----------------------------------*/

/*----------------------------------column style begin----------------------------------*/
#wrap_column{
	width:971px; margin:0 auto;
}
#header_column{
	height:162px; overflow:hidden; position:relative;
}
.header_company{
	background:url(../images/bg_header_company.jpg) no-repeat;
}
.header_product{
	background:url(../images/bg_header_Product.jpg) no-repeat;
}
.header_news{
	background:url(../images/bg_header_News.jpg) no-repeat;
}
.header_service{
	background:url(../images/bg_header_Service.jpg) no-repeat;
}
.header_employment{
	background:url(../images/bg_header_Employment.jpg) no-repeat;
}
.header_client{
	background:url(../images/bg_header_Client.jpg) no-repeat;
}
.header_contact{
	background:url(../images/bg_header_Contact.jpg) no-repeat;
}
.logo_column{
	position:absolute; top:35px; width:179px; height:55px; background:url(../images/logo.png) no-repeat;
}
.nav_column{
	width:752px; height:37px; position:absolute; top:92px; left:219px;
}
#main_column{
	height:auto!important;
	height:540px; 
	min-height:540px;
	background:url(../images/bg_main_column.gif) repeat-y top left;
}
#sidebar_column,#content_column{
	float:left; display:inline; overflow:hidden;
}
#sidebar_column{
	width:219px;
}
#sidebar_column h2{
	height:51px; overflow:hidden; text-indent:-9999px;
}
.title_company{
	background:url(../images/bg_title_column.png) no-repeat 0 0;
}
.title_product{
	background:url(../images/bg_title_column.png) no-repeat 0 -61px;
}
.title_news{
	background:url(../images/bg_title_column.png) no-repeat 0 -122px;
}
.title_service{
	background:url(../images/bg_title_column.png) no-repeat 0 -183px;
}
.title_employment{
	background:url(../images/bg_title_column.png) no-repeat 0 -244px;
}
.title_client{
	background:url(../images/bg_title_column.png) no-repeat 0 -305px;
}
.title_contact{
	background:url(../images/bg_title_column.png) no-repeat 0 -366px;
}
#sidebar_column .menu_prd{
	width:176px; margin:29px 0 0 22px;
}
#sidebar_column .menu_prd dt{
	font-size:14px; color:#1661bf; font-weight:bold; padding:0 0 16px 22px; background:url(../images/icon_dot_blue.png) no-repeat 0 0;
	border-bottom:solid 2px #dedede;
}
#sidebar_column .menu_prd dd{
	font-weight:bold; padding:0 0 0 22px; background:url(../images/icon_drgegray.png) no-repeat 0 8px;
	border-bottom:solid 2px #dedede; line-height:28px;
}
#sidebar_column .menu_prd dd a{
	display:block;
}
#sidebar_column .contct{
	display:block; margin:50px 0 0 22px; width:160px; height:52px;
}
#content_column{
	width:750px; background:#fff url(../images/icon_dot_gray.gif) repeat-y right top;
	height:540px;
	height:auto!important;
	min-height:540px;
	overflow:hidden;
}
.position{
	height:30px; padding:21px 0 0 32px; background:url(../images/bg_position.png) no-repeat;
}
.cont{
	padding:20px 27px 0 30px;
}
.cont p{
	line-height:180%; margin:7px 0; color:#555;
}
.title{
   font-size:16px; font-weight:bold; text-align:center;	
}
.info{
   font-size:12px; text-align:center; margin-top:20px;	
}
.list_news li{
	height:30px; line-height:30px; background:url(../images/bg_dotlightblue.gif) repeat-x left bottom;
}
.list_news li a{
	padding:0 0 0 10px; background:url(../images/top-2.gif) no-repeat 3px 3px;
}
.list_news li span{
	font-family:Arial, Helvetica, sans-serif; float:right;
}
.pages{
	padding:40px 0 0 0; text-align:center;
}
#main_product{
	height:auto!important;
	height:540px; 
	min-height:540px;
	background:#fff url(../images/icon_dot_gray.gif) repeat-y right top;
}
#main_product .position{
	height:88px; background:url(../images/bg_position_product.png) no-repeat; text-indent:-9999px;
}
.wrap_listprd{
	padding:0 0 0 31px;
}
.list_prd{
	width:174px; float:left; display:inline; overflow:hidden; margin:0 5px 23px 5px;
}
.list_prd dt{
	margin:0 0 4px 0;
}
.list_prd dt a{
	display:block; height:30px; background:url(../images/bg_a_list_prd_dt.png) no-repeat 0 0; padding:24px 0 0 0; text-align:center; font-weight:bold;
}
.list_prd dt a:hover{
	background:url(../images/bg_a_list_prd_dt.png) no-repeat 0 -54px;
}
#footer_column{
	position:relative; height:60px; background:url(../images/bg_footer_column.png) no-repeat;
}
#footer_column .copyright{
	position:absolute; width:352px; height:14px; background:url(../images/img_copyright_column.png) no-repeat; left:252px; top:29px;
}
#footer_column .frdlink{
	position:absolute; right:3px; top:15px;
}
/*----------------------------------column style end----------------------------------*/
table td{
	padding:5px 20px; border:1px solid #ccc; text-align:center; border-collapse:collapse;
}
.color0range{
	color:#ef630b;
}

/*分页样式 标准*/  
/*总容器样式*/  
.pager { padding: 3px; text-align: center; color:#98a4b5;font-size:12px; font-family:Tahoma; margin:20px;}   
/*分页链接样式*/  
.pager a { margin: 2px; padding:2px 5px; color: #4b5564; text-decoration: none;background-color:#ebeff5;  border: 1px solid #8f9bac; }   
/*分页链接鼠标移过的样式*/  
.pager a:hover { color: #000; border: 1px solid #4b5564; background-color:#ccd5e2; }   
/*当前页码的样式*/  
.pager span.current { font-weight: bold; margin: 0 2px; padding: 2px 5px; color: #fff; background-color: #98a4b5; border: 1px solid #4b5564; }   
/*不可用分页链接的样式(比如第1页时的"上一页"链接)*/  
.pager span.disabled { margin: 0 2px; padding: 2px 5px; color: #CCC; border: 1px solid #DDD; }   
/*跳转下拉菜单的样式*/  
.pager select {margin: 0px 2px -2px 2px; color:#66C;font-size:12px; font-family:Tahoma;}   
/*跳转文本框的样式*/  
.pager input {margin: 0px 2px -2px 2px; color:#66C; border: 1px solid #DDD; padding:2px; text-align:center;font-size:12px; font-family:Tahoma; width:20px;}


