<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!--数据库连接字符串-->
  <connectionStrings>
     <!--
     name：设置获取数据库连接字符串的键值
     value：设置数据库连接的字符串
     
     连接数据库的一些基本信息：服务器、账号、密码、数据库名
     windows身份验证：intergrated Security=true;
     设置连接池：Poling=true/false;Max Pool Size=100;Min Pool Size=0;
     登陆服务器名/实例：server="";
     设置账号密码：uid="";pwd="";
     设置连接的数据库：database="";
     -->
    <add  name ="sqlConnection" connectionString="server=.;uid=sa;pwd=kissyou199;database=User"/>
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>