@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@model ASP.NET_MVC_Study_03.Models.CustomEntity

@section scripts{
    $(this).ready(function () {

    window.alert("Hello, I'm the content of section area!")
    });
}


<h1> Hello,@Model.Name! </h1>
<h1> I'm @ViewData.Model.Age.ToString() years old </h1>