
body {
	FONT-SIZE: 12px;
	COLOR: #333;
	FONT-FAMILY: Arial,"ו";
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	}
.STYLE7 {font-size: 14px;color:#FF0000; text-decoration:none }

.headmain {
	clear:both;PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px auto; WIDTH: 780px; PADDING-TOP: 0px; HEIGHT: 119px; background-image:url('/images/wfj/topMeddle.gif'); background-repeat:repeat-x
}
.headmain .headmainright {
	padding:0px; FLOAT: left; MARGIN: 0px; WIDTH: 16px; HEIGHT: 119px; background-image:url('/images/wfj/topLeft.gif')
}
.headmain .headmainright2 {
	padding:0px; FLOAT: left; MARGIN: 0px; WIDTH: 320px; HEIGHT: 119px; background-image:url('/images/wfj/toplogo2.gif')
}
.headmain .headmainright3 {
	FLOAT: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px;PADDING-TOP: 0px; MARGIN: 15px 0px 0px 10px; WIDTH: 375px; HEIGHT: 84px; background-color:#FFFFFF ; text-align:left; border:double #00A1E9;
}
.headmain .headmainleft {
	padding:0px; FLOAT: right; MARGIN: 0px; WIDTH: 16px; HEIGHT: 119px; background-image:url('/images/wfj/topright.gif')
}
.headmainSTYLE1 { margin-top:20px; margin-left:10px; line-height:15px;color: #7c7c7c}
.headmainSTYLE2 {color: #00a0e9}
.headmainSTYLE1 A {COLOR: #7c7c7c; TEXT-DECORATION: none}

h2 {
        font: bold 14px Verdana, Arial, Helvetica, sans-serif;
        color: #000;
        margin: 0px;
        padding: 0px 0px 0px 15px;
}

/*- Menu Tabs I--------------------------- */

    #tabsI {
      
      width:93%;
      height:34px;

      font-size:93%;
      line-height:normal;
       border-bottom:1px solid #DD740B;
      }
    #tabsI ul {
        margin:0;
        padding:10px 10px 0 50px;
        list-style:none;
      }
    #tabsI li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabsI a {
      float:left;
      background:url("/images/tableftI.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 5px;
      text-decoration:none;
      }
    #tabsI a span {
      float:left;
      display:block;
      background:url("/images/tabrightI.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabsI a span {float:none;}
    /* End IE5-Mac hack */
    #tabsI a:hover span {
      color:#FFFFFF;
      }
    #tabsI a:hover {
      background-position:0% -42px;
      }
    #tabsI a:hover span {
      background-position:100% -42px;
      }

        #tabsI #current a {
                background-position:0% -42px;
        }
        #tabsI #current a span {
                background-position:100% -42px;
        }   
   
   
   
   
table
{
	font-size:12px;
	FONT-FAMILY: ו;
	
	}
a:link{ color:#0042d1; text-decoration:none}
a:hover{ color:#ff6600; text-decoration:underline}
a:visited{ color:#0042d1; text-decoration:none}

.top{border-bottom:Solid #cccccc 1px;background-color:#f2f2f2; height:22px; line-height:22px;}
.top .m_c{ width:750px; margin:auto}


.top a:link{ color:#666666;TEXT-DECORATION: none;}
.top a:hover{ color:#ff6600;TEXT-DECORATION: underline;}
.top a:visited{ color:#666666;TEXT-DECORATION: none;}

.top .h{color:#999999;font-size:14px;padding-left:2px;}
.l{ float:left}
.r{ float:right}

#header{ width:750px; margin:auto; margin-top:10px;}
#header .sm{ font-size:12px; text-align:left; margin-bottom:10px;}
#header .t{ font-family:Georgia, "Times New Roman", Times, serif; font-size:18px;color:#0042d1}
#header .ss{ font-size:14px; text-align:right; margin-bottom:10px;}
#header .ss a{ font-size:14px; text-align:right;}

#tip{ 
width:713px; 
margin:auto; 
padding:5px; 
margin-top:10px; 
border:solid #eeeeee 1px; 
text-align:left; background:url(/images/tip1.gif) no-repeat 5px center;
padding-left:30px;
background-color:#FFFFee;
margin-bottom:10px; }

#search{ width:750px; height:60px; margin:auto; background:url(/images/index_search.jpg) no-repeat left center;padding-top:8px;margin-bottom:0px; padding-bottom:0px;}
#search .findInto {
	BORDER-RIGHT: #cdcdcd 1px solid; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP: #cdcdcd 1px solid; 
	PADDING-LEFT: 5px; 
	FONT-SIZE: 14px; 
	PADDING-BOTTOM: 0px; 
	BORDER-LEFT: #cdcdcd 1px solid; 
	WIDTH: 500px; 
	COLOR: #aab7c7; 
	LINE-HEIGHT: 22px; 
	PADDING-TOP: 0px; 
	BORDER-BOTTOM: #cdcdcd 1px solid; HEIGHT: 24px
}

#search a{ color:#FFFFFF}
#hotkey{ width:748px; margin:auto; margin-bottom:10px; border-bottom:solid #dddddd 1px;border-left:solid #dddddd 1px;border-right:solid #dddddd 1px;}
#hotkey .k_t{ text-align:left; padding-left:10px; font-size:14px; font-weight:bold; border-bottom:solid #f2f2f2 1px;}
#hotkey .k_t a{}
#hotkey .k_c{ text-align:left; padding:10px; line-height:150%}

#main_box{ clear:both;  width:750px;}
#main_box .m_l{ float:left; width:200px;}
#main_box .m_l h2{ text-align:left; height:28px; line-height:28px;font-size:14px; font-weight:bold; padding-left:5px; border-bottom: dotted #f2f2f2 1px; margin-bottom:5px;}
#main_box .m_l .cm ul{ width:200px; margin:0px; padding:0px;}
#main_box .m_l .cm li{ list-style-type:none; padding-left:5px; margin-top:0px; text-align:left; line-height:150%}
#main_box .m_l .n ul{  margin:0px; padding:0px; padding-left:27px;}
#main_box .m_l .n li{ list-style-type:decimal; text-align:left; padding-left:0px; line-height:150%}
#main_box .m_l .gg table{ font-size:12px;}

#main_box .m_r{ float:right; width:530px;}
#main_box .m_r .b_c { margin-bottom:10px;}
#main_box .m_r .b_c ul{ width:530px; margin:0px; padding:0px;}
#main_box .m_r .b_c li{ width:65px; float:left; list-style-type:none; font-size:14px; line-height:150%}

#main_box .m_r .b_c .t{border-bottom:solid #f2f2f2 1px; margin-bottom:5px; text-align:left; background-color:#f8f8f8}
#main_box .m_r .b_c .t .l{height:22px; font-size:14px; font-weight:bold; color:#000000; width:200px;padding-left:8px;}
#main_box .m_r .b_c .t .r{ float:right; text-align:right; font-size:14px; width:200px;}


#main_box .m_r .c_t{ margin-bottom:10px;}
#main_box .m_r .c_t .t{border-bottom:solid #f2f2f2 0px; margin-bottom:5px; text-align:left;background-color:#f8f8f8}
#main_box .m_r .c_t .t .l{height:22px; font-size:14px; font-weight:bold; color:#000000}
#main_box .m_r .c_t .t .r{ float:right; text-align:right; font-size:14px;}
#main_box .m_r .c_t ul{ width:530px; margin:0px; padding:0px;}
#main_box .m_r .c_t li{ width:250px; padding-left:8px; text-align:left; float:left; list-style-type:none; font-size:12px; line-height:150%}


#main_box .m_r .p{ margin-bottom:10px;}
#main_box .m_r .p .t{border-bottom:solid #f2f2f2 1px; margin-bottom:5px; text-align:left;background-color:#f8f8f8}
#main_box .m_r .p .t .l{height:22px; font-size:14px; font-weight:bold; color:#000000}
#main_box .m_r .p .t .r{ float:right; text-align:right; font-size:14px;}

#main_box .m_r .p ul{ width:530px; margin:0px; padding:0px;}
#main_box .m_r .p li{ width:160px; padding-left:8px; text-align:left; float:left; list-style-type:none; font-size:12px; line-height:150%}

.c_b{ border:solid #dddddd 1px; padding:5px; margin-bottom:10px;width:200px;}

#ads{ width:750px; margin:auto}

#footer
{
   
     
}
#footer li{ list-style-type:none;}



.activities {
	color:#0042d1 ;font-size:12px ;text-decoration:none
}
.activities A{
	color:#0042d1 ;font-size:12px ;text-decoration:none
}
.activities A:hover{
	color:#ff6600 ;font-size:12px ;text-decoration:none
	
}
.categories {
	color:#EEEEEE ;font-size:12px ;text-decoration:none
}
.categories A{
	color:#EEEEEE ;font-size:12px ;text-decoration:none
}
.categories A:hover{
	color:#EEEEEE ;font-size:12px ;text-decoration:underline
}
.categories1 {
	color:#0042d1 ;font-size:12px ;text-decoration:none
}
.categories1 A{
	color:#0042d1 ;font-size:12px ;text-decoration:none
}
.categories1 A:hover{
	color:#FF9900;
	font-size:12px;
	text-decoration:underline;
}
.categories2 {
	color:#ffffff ;font-size:12px ;text-decoration:none
}
.categories2 A{
	color:#ffffff ;font-size:12px ;text-decoration:none
}
.categories2 A:hover{
	color:#ffffff ;font-size:12px ;text-decoration:underline
	
}
.categories3 {
	color:#ffffff ;font-size:14px ;text-decoration:none
}
.categories3 A{
	color:#ffffff;font-size:14px ;text-decoration:none
}
.categories3 A:hover{
	color:#ffffff;font-size:14px ;text-decoration:underline
	
}

.align_Left{text-align:left;}
.align_Center{text-align:center;}
.align_Right{text-align:right;}



.cart_table{
	
	border:solid #AACDED;
	border-width:0 3px;
	overflow:hidden;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0;
	padding-left: 0px;
}
tr.Thead,td.Tfoot{background:#EBF4FB;}
.price{color:#f00;font-family:verdana;font-weight:bold;}

