#backgroundDiv {
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.11;
}

#foregroundDiv {
    background-color: #5ED579;
    width: 301px;
    height: 210px;
    position: absolute;
    top: 14px;
    left: 10px;
}
