<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        @RenderSection("scripts", required: false)
    </script>
</head>
<body>

    @RenderBody()

</body>
</html>
